body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px; /* Adjust the font size as needed */
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px; /* Adjust the font size as needed */
  cursor: pointer;
}

#options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.option {
  margin: 0 10px;
}

/* Media query for smaller screens */
@media (max-width: 400px) {
  h1 {
    font-size: 18px; /* Adjust the font size for smaller screens */
  }

  button {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }
}
